.worldStats {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: grey;
	}

	&__wrapper {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}
}
