.worldStats {
	width: 100%;

	&__title {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__wrapper {
		gap: 1rem;
		padding: 2rem;
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(
			auto-fit,
			minmax(8rem, 12rem)
		);
	}
}
