@import "../../styles/variables";

*,
*::before,
*::after  {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	background-color: $color-background;
}

html  {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

ul {
	list-style: none;
	padding-left: 0;
}

img  {
	display: block;
}

*::selection  {
	background: $color-third;
}
