@import "../../styles/variables";

.cardInfoBox {
	display: flex;
	flex-direction: column;
	align-items: center;

	box-shadow: 0 0 8px $color-shadow;
	background-color: $color-white;

	& > * {
		margin: 0.5rem;
	}
}
